* {
    box-sizing: border-box; /* after margin and padding it will not effect size of the element */
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #0056B8;
    --najbrt-blue-color: #0056B8;
    --najbrt-ligit-gray-color: #A0A5A9;
    --najbrt-light-blue-color: #00AEEF;
    --light-color: #f4f4f6;
    --dark-color: black;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    overflow-x: hidden; /* never will be visible horizontal scroll*/
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /* if I put image to div with certain size it will not brake from div */
}


/* NAVIGATION BAR*/
.Nav_bar{
    background: white;
    padding: 1px;
}

.Nav_bar .Container{
    display: flex;
    justify-content: space-between; /* this pushes menue to the side*/
    align-items: center;
    margin-top: 20px;
}

.Nav_bar .Container .Logo{
    max-width: 20%;
    max-height: 200px;   
}

.Nav_bar .Main_menu ul{
    display: flex;
    margin-left: 60px;
}

.Nav_bar ul li a{
    padding: 10px 20px;
    display: block;
    font-family: 600;
    transition: 0.5s;
}

.Nav_bar ul li a:hover{
    color: var(--primary-color) ;
}


.Nav_bar ul li:last-child a { /* because blog was too close border of button*/
    margin-left: 10px;
}

.Nav_bar ul li a i { /* because icon is too close to the tect inside button*/
    margin-right: 10px;
}


/* H E R O*/
.hero{
    margin-bottom: 18px;
}

.hero .Container{
    background: url(../Images/Railjet1.jpg) no-repeat;
    background-size: 97%;
    background-position: center 80px;
    height: 100%;  
}

.hero .hero-content{
    width: 100%;
}

.hero .hero-content .hero-heading{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.hero .hero-text{
    width: 100%;
    margin-top: 69%;
}

.hero .hero-buttons{
    margin-top: 12px;
}



/* MAP */
.map{
    padding: 2px 0 40px;
    border-top: 5px solid yellow;  
}

.map .map-heading{
    margin-bottom: 20px;
}

#map2{
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}



/* TRAIN TYPES  */
.train-types{
    padding: 40px 0;
}

.train-types .train-types-heading{
    width: 100%;
    margin-bottom: 40px;
}

.train-types-grid{ /* company info */
    display: grid;
    flex-direction: column;
    gap: 30px;
}

.train-types .card p:nth-child(1){
    margin: 20px 1.5%;
    font-weight: bold;
    font-size: 30px;
}

.train-types .card p:nth-child(6){ /* if I want only specific for one P element*/
    margin-top: 30px;
    font-weight: bold;
}

.train-types .card p:nth-child(5), p:nth-child(6), p:nth-child(7), p:nth-child(8), p:nth-child(9){ /* if I want only specific for one P element*/
    width: 97%;
    text-align: justify;
    margin-left: 1.5%;
}



/* SLIDESHOW*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}
  
/* Next & previous buttons */
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
    border-radius: 3px 0 0 3px;
}  

/* On hover, add a black background color with a little bit see-through */
.next:hover {
    background-color: rgba(0,0,0,0.8);
}
  


/* DOTS  */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-bottom: 15px ;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: var(--primary-color);
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/* UTILITY CLASS - for different size of containers */
.Container{
    max-width: 900px;
    margin: 0 auto;  /* top and bottom 0 | left and right auto */
    padding: 0 15px; /* top and bottom 0 | left and right 15px */
}

.Container-sm{
    max-width: 800px;
    margin: 0 auto;  /* top and bottom 0 | left and right auto */
    padding: 0 15px; /* top and bottom 0 | left and right 15px */
}



/* TRAIN CLASSES */
.train-class-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 25px;
}

.train-class .train-class-card-subheading{
    margin-bottom: 15px;
}

.train-class h4{
    margin-top: 15px;
}

.train-class .train-class-card-features{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.train-class img {
    width: 100%;
    height: 100%;
}

.train-class ul{
    margin: 30px 0;
}

.train-class ul li{
    margin-bottom: 20px;
}

.train-class ul li i{
    margin-right: 10px;
}

.train-class ,.train-class-footer{
    margin: 30px 0;
}

.hidden {
    display: none;
}



/* MAKE PICTURE LARGER */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* background */
}
  
/* LARGE PICTURE */
.modal-content {
    margin: auto;
    display: block;
    min-width: 900px;
    min-height: 480px;
    max-width: 70%;
    max-height: 90%;
}
  
/* CLOSE BUTTON */
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}



/* FAQ */
.faq{
    padding: 40px 0;
}

.faq .faq-group{
    background: white;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px 20px;
    box-shadow: 5px 5px #ddd;
}

.faq .faq-group .faq-group-header{
    padding: 8px 0;
    margin-bottom: 20px;
    position: relative;
    color: black;
}

.faq h3{
    color: white;
    transition: 0.5s; 
}

.faq .faq-group .faq-group-header h4{
    font-weight: 600;
    width: 100%;
    color: black;
    border-bottom: 2px solid var(--primary-color);
}

.faq .faq-group .faq-group-header i{
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 1.3rem;
    cursor: pointer;    
}

.faq .faq-group .faq-group-body{
    display: none;
}

.faq .faq-group .faq-group-body.open{
    display: block;
    color: rgb(28, 27, 27);
    transition: 0.5s;
}



/* FOOTER */
.footer{
    padding: 40px 0;
}

.footer h4{
   margin-bottom: 10px; 
}

.footer ul li{
    line-height: 2.5;
}

.footer a{
    color: #ccc;
}

.footer i{
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer input[type='email']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

.footer .card{
    margin: 20px 30px 30px 0;
}

.footer .socialMedia{
    max-width: 350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 30px;
}



/* CARD */
.card{
    background: white;
    color: var(--dark-color);
    border-radius: 10px;
    padding: 20px;
}



/* BUTTONS */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.btn:hover{ /* LIGHTEN THE COLOR OF THE BACKGROUND A LITTLE BIT AFTER POINTNG TO THAT */
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: white;
}

.btn-dark{
    background: var(--dark-color);
    /*background: black;*/
    color: white;
}

.btn-block{
    display: block;
    width: 100%;
}



/* TEXT CLASSES - different size classes */
.text-xxl{
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{ /* large */
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{ /* medium */
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm{ /* small */
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}


.text-justify{
    text-align: justify;
}



/* BACKGROUND */
.bg-primary{
    background: var(--primary-color);
    color: white;
}

.bg-white{
    background: white;
    color: black;
}

.bg-light{
    background: var(--najbrt-light-blue-color);
    color: black;
}

.bg-dark{
    background: var(--dark-color);
    color: white;
}

.bg-black{
    background: var(--dark-color);
    color: white;
}



/* HAMBURHGER BUTTON */
.hamburger-button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /* i want hamburger menu to be above everything */
}

.hamburger-button .hamburger-line{
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}



/* MOBILE MENU STYLE */
.mobile-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.5s ease-in-out;
}

.mobile-menu.active{
    right: 0px;
}

.mobile-menu ul{
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li{
    margin: 10px 0;
}

.mobile-menu ul li a{
    font-size: 20px;
    transition: 0.2s;
}




/* M E D I A  Q U E R I */
@media (max-width:960px){
    .text-xl{
        font-size: 2.2rem;
    }


    /* HERO */
    .hero .Container{
        background: url('../Images/Railjet1.jpg') no-repeat; /* just smaller picture of hero, I don't have here*/
        background-size: 96%;
        background-position: center 80px;
    }

    .hero .hero-content{
        width: 100%;
        text-align: center;
    }

    .hero .hero-text{
        width: 100%;
        margin-top: 69%;
        margin-bottom: 12px;
    }

    .hero .hero-buttons .btn{
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }


    /* DOTS  */
    .dot {
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin: 0 10px;
        margin-bottom: 20px;
    }


    /* LARGE PICTURE */
    .modal-content {
        margin: auto;
        display: block;
        min-width: 250px;
        min-height: 250px;
        max-width: 95%;
        max-height: 70%;
    }

    .close {
        top: 85%;
        right: 47%;
        font-size: 60px;
    }
}

@media (max-width:736px){
    .text-xl{
        font-size: 2.2rem;
    }


    /* HERO */
    .hero .Container{
        background: url('../Images/Railjet1.jpg') no-repeat; /* just smaller picture of hero, I don't have here*/
        background-size: 95%;
        background-position: center 80px;
    }

    .hero .hero-content{
        width: 100%;
        text-align: center;
    }

    .hero .hero-text{
        width: 100%;
        margin-top: 69%;
        margin-bottom: 12px;
    }

    .hero .hero-buttons .btn{
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
    

    /* DOTS  */
    .dot {
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin: 0 10px;
        margin-bottom: 20px;
    }
  

    /* LARGE PICTURE */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 95%;
        max-height: 60%;
    }

    .close {
        top: 85%;
        right: 47%;
        font-size: 60px;
    }
}


@media (max-width:655px){ /* smaller mobile 680*/
    /* TEXT SIZES*/
    .text-xxl{
        font-size: 2rem;
    }

    .text-xl{
        font-size: 1.9rem;
    }

    .text-lg{
        font-size: 1.5rem;
    }

    .text-md{
        font-size: 1.1rem;
    }


    /* NAVBAR */
    .Nav_bar .Main_menu{
        display: none;
    }

    .Nav_bar .hamburger-button{
        display: block;
        margin-top: -20px;
        padding: 0 15px;
    }

    .Container .Logo{
        width: 200px;
        height: 40px;
        margin-top: 10px;
    }


    /* HERO */
    .hero .Container{
        background: url('../Images/Railjet1.jpg') no-repeat; /* just smaller picture of hero, I don't have here*/
        background-size: 94%;
        background-position: center 70px;  
    }

    .hero .hero-content{
        width: 100%;
        text-align: center;
    }

    .hero .hero-text{
        width: 100%;
        margin-top: 70%;
        margin-bottom: 12px;
    }

    .hero .hero-buttons .btn{
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

  
    /* DOTS  */
    .dot {
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin: 0 10px;
        margin-bottom: 20px;
    }
  

    /* train classes */
    .train-class-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* LARGE PICTURE */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 95%;
        max-height: 50%;
    }

    .close {
        top: 85%;
        right: 47%;
        font-size: 60px;
    }
  

    /* FOOTER */
    .footer .card{
        margin-right: 0;
    }
    
    .footer .footer-grid > div{
        text-align: center;
    }

    .socialMedia{
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    
    /* FOOTER */
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:512px){
    .text-xxl{
        font-size: 2rem;
    }


    /* HERO */
    .hero .Container{
        background: url('../Images/Railjet1.jpg') no-repeat; /* just smaller picture of hero, I don't have here*/
        background-size: 94%;
        background-position: center 110px;  
    }

    .hero .hero-text{
        width: 100%;
        margin-top: 72%;
        margin-bottom: 12px;
    }

    
    /* train classes */
    .train-class-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* FOOTER */
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
}