* {
    box-sizing: border-box; /* after margin and padding it will not effect size of the element */
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}


body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: white;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width: 100%; /* if I put image to div with certain size it will not brake from div*/
}


.Nav_bar{
    background: white;
    padding: 20px;
}


.Nav_bar .Container{
    display: flex;
    justify-content: space-between; /* this pushes menue to the side*/
    align-items: center;
}

.Nav_bar .Main_menu ul{
    display: flex;
}

.Nav_bar ul li a{
    padding: 10px 20px;
    display: block;
    font-family: 600;
    transition: 0.5s;
}

.Nav_bar ul li a:hover{
    color: var(--primary-color) ;
}


.Nav_bar ul li:last-child a { /* because blog was too close border of button*/
    margin-left: 10px;
}

.Nav_bar ul li a i { /* because icon is too close to the tect inside button*/
    margin-right: 10px;
}


/* UTILITY CLASS - for different size of containers */
.Container{
    max-width: 1100px;
    margin: 0 auto;  /* top and bottom 0 | left and right auto */
    padding: 0 15px; /* top and bottom 0 | left and right 15px */
}

.Container-sm{
    max-width: 800px;
    margin: 0 auto;  /* top and bottom 0 | left and right auto */
    padding: 0 15px; /* top and bottom 0 | left and right 15px */
}

/* BUTTONS */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{ /* LIGHTEN THE COLOR OF THE BACKGROUND A LITTLE BIT AFTER POINTNG TO THAT */
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: white;
}

.btn-dark{
    background: black;
    color: white;
}

.btn-block{
    display: block;
    width: 100%;
}